<%- include('../partials/header') %>

<h2>Edit Supplier</h2>

<form action="/suppliers/<%= supplier._id %>?_method=PUT" method="POST">
  <label>Name:</label><br>
  <input type="text" name="name" value="<%= supplier.name %>" required><br><br>

  <label>Address:</label><br>
  <input type="text" name="address" value="<%= supplier.address %>"><br><br>

  <label>Phone:</label><br>
  <input type="text" name="phone" value="<%= supplier.phone %>"><br><br>

  <button type="submit">Update</button>
</form>

<a href="/suppliers">Back</a>

<%- include('../partials/footer') %>
